/*
* Global configuration for running the pipeline in CMD resources 
*/

params {
	genomes {
		'saureus' {
			fasta = "/fs1/resources/ref/micro/species/saureus/ref.fasta"
		}
		'hg19' {
			fasta = "/fs1/resources/ref/micro/species/saureus/ref.fasta"
		}
	}
}


profiles {

    hoppper {
    	singularity {
			enabled = true
			runOptions = '--bind /fs1/ --bind /local/'
		}

        process {
			executor = 'slurm'
			queue = 'grace-highest'
			errorStrategy = 'finish'
			withLabel: low {
				cpus = 2
				memory = 16.GB
				time = 10.h
			}
			withLabel: memMedium {
				cpus = 25
				memory = 48.GB
				time = 48.h
			}
			withLabel: process_high {
				cpus = 50
				memory = 64.GB
				time = 48.h
			}
		}

    }

    standard {
        process {
			cpus = 2
			memory = 8.GB
			time = 2.h
		 }

	}
}


